<div id="podejmij-dzialanie"></div>
<section id="call-to-action">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Co mogę zrobić?</h3>
                <p class="cta-text">
                    W zależności od indywidualnej sytuacji możliwe jest podjęcie wielu kroków, zarówno formalnych jak i nieformalnych,
                    spokojnych negocjacji lub głośnych demonstracji. Znamy wiele narzędzi, które należy dopasować do kontekstu sytuacji.
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#kontakt">Zapytaj nas</a>
            </div>
        </div>

    </div>
</section>
