<div id="podejmij-dzialanie"></div>
<section id="call-to-action">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Co mogę zrobić?</h3>
                <p class="cta-text">
                    W zależności od indywidualnej sytuacji - możliwości oraz celu, zalecamy różne strategie.<br/>
                    Skontaktuj się z nami, podzielimy się doświadczeniem.
                </p>

                <p class="cta-text">
                    <strong>Doraźnie</strong> - działamy medialnie i naciskowo, jesteśmy w tym dobrzy, prawnie - według konsultacji z prawnikiem<br/><br/>
                    <strong>W dłuższej perspektywie</strong> - działamy jako grupy pracownicze, które się wspierają wzajemnie - zarówno nieformalne grupy regionalne jak i związki zawodowe
                </p>

                <br/>
                <h3 class="cta-title">W czym możemy pomóc?</h3>
                <p class="cta-text">
                     <ul class="cta-text">
                        <li>Nagłośnienie sprawy</li>
                        <li>Pomoc prawna</li>
                        <li>Podzielenie się doświadczeniem w podobnych sprawach</li>
                        <li>Wsparcie emocjonalne i poczucie bycia grupą o tym samym celu</li>
                        <li>Pomoc finansowa  np. z funduszu lub z zoorganizowanej zbiórki</li>
                     </ul>
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#kontakt">Zapytaj nas</a>
            </div>
        </div>

    </div>
</section>
