<div id="kontakt"></div>
<section id="portfolio">
    <div class="container wow fadeInUp" id="nav-contact">
        <div class="section-header">
        <img src="img/podejmijdzialania.svg" alt="Podejmij dzialania, skontaktuj się z nami!"/>
            <p class="section-description">
                Wspólnymi siłami zdołamy osiągnąć więcej!
            </p>
        </div>

        <div class="row" id="portfolio-wrapper">
            <div class="col-lg-4 col-md-3 portfolio-item filter-app">
                <a href="https://facebook.com/zsp.wroclaw" rel="nofollow" target="_blank">
                    <img src="img/portfolio/app1.jpg" alt="">
                    <div class="details">
                        <h4>Zobacz nas na facebooku</h4>
                        <span>zsp.wroclaw</span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <a data-adr="ZG9sbnlzbGFza0B6c3AubmV0LnBsCg==" href="">
                    <img src="img/portfolio/web2.jpg" alt="">
                    <div class="details">
                        <h4>Napisz do nas</h4>
                        <span data-adr="ZG9sbnlzbGFza0B6c3AubmV0LnBsCg=="></span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <a href="tel:574-254-878">
                    <img src="img/portfolio/app3.jpg" alt="">
                    <div class="details">
                        <h4>Zadzwoń do nas</h4>
                        <span>574 254 878</span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <a href="https://zlyszef.pl" target="_blank">
                    <img src="img/portfolio/card1.jpg" alt="">
                    <div class="details">
                        <h4>Zgłoś problem pracowniczy poprzez formularz</h4>
                        <span>zlyszef.pl</span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <a href="http://zsp.net.pl" target="_blank">
                    <img src="img/portfolio/card2.jpg" alt="">
                    <div class="details">
                        <h4>Dowiedz się jak działamy</h4>
                        <span>zsp.net.pl</span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <a href="#" target="_blank">
                    <img src="img/portfolio/card3.jpg" alt="">
                    <div class="details">
                        <h4>Organizuj się, nie bądź sam, pracownicy mają <strong>wspólny interes</strong>!</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
