<header id="header">
    <div class="container">
        <nav id="nav-menu-container">
            <div class="zsp-logo">
                <a href="https://zsp.net.pl" target="_blank">
                    <img src="img/zsp.png"/>
                </a>
            </div>

            <ul class="nav-menu">
                <li class="menu-active"><a class="nav-a"
                                           href="#co-mi-przysluguje-na-umowie-o-prace-na-czas-nieokreslony">Co mi
                    przysługuje?</a></li>
                <li><a class="nav-a" href="#fakty-o-pracy-i-utrzymaniu-w-polsce-w-liczbach">Fakty w liczbach</a></li>
                <li><a class="nav-a" href="#co-trace-na-kiepskiej-umowie">Jakie są zagrożenia?</a></li>
                <li><a class="nav-a" href="#podejmij-dzialanie">Co mogę zrobić?</a></li>
                <li><a class="nav-a" href="#kontakt">Chcę podjąć działanie!</a></li>
            </ul>
        </nav>
    </div>
</header>
