<div id="co-trace-na-kiepskiej-umowie"></div>
<section id="services">
    <div class="container wow fadeIn">

        <div class="section-header">
            <div class="text-center section-header-bigger">
                <img src="img/jakiesazagrozenia.svg" alt="Jakie są zagrożenia?" class="img-fluid"/>
            </div>
            <p class="section-description">
                Niestabilna forma zatrudnienia potrafi mieć przykre konsekwencje, warto sobie zatem zadać kilka pytań.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-stethoscope"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Choroba</a></h4>
                    <p class="description">
                        <strong>Czy gdy zachorujesz na tydzień, będziesz w stanie zapłacić za czynsz i za życie?</strong><br><br>
                        Załóżmy, że zarabiasz jak przeciętny Polak 1500 zł, i chorujesz w domu przez tydzień.<br>
                        <br>Gdy pracodawca odejmie Ci z wypłaty za czas choroby, czy będzie Cię stać na opłacenie rachunków i żywności?
                        <br>Czy może weźmiesz pożyczkę i będziesz musiał(a) spłacać komuś bogatszemu z procentem aby nie umrzeć z głodu?<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-hospital-o"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Gips na nodze</a></h4>
                    <p class="description">
                        Czy będziesz w stanie <strong>przez jeden miesiąc noszenia gipsu nie płacić za mieszkanie</strong>, jeśli Twój pracodawca
                        nie gwarantuje Ci <strong>urlopu chorobowego</strong>?<br><br>
                        Pracodawca otwierając firmę dobrowolnie decyduje się na podejmowanie ryzyka, niech weźmie je na siebie skoro to Ty wypracowujesz dla niego zysk.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-medkit"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Depresja</a></h4>
                    <p class="description">
                        Z roku na rok <strong>rośnie liczba osób z depresją</strong> na świecie, wiąże się to także z ekonomicznym uciskiem pracowników.<br>
                        <strong>Potrzebujesz płatnego urlopu, żeby się nie wypalić!</strong>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-money"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Niepłatne nadgodziny</a></h4>
                    <p class="description">
                        Na kiepskiej umowie są kiepskie warunki, <strong>na umowie o dzieło oraz na umowie zlecenie nadgodziny nie muszą być ekstra płatne, to zależy jedynie od warunków ustnych z pracodawcą.</strong><br>
                        <br>Pamiętaj! Pracodawca wcale nie musi być uczciwy, z czasem może wymyślać powody do zmiany poprzednio ustalonych warunków.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-home"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Wysokie opłaty</a></h4>
                    <p class="description">
                        Zła praca, złe warunki mieszkaniowe.<br><br>
                        Szef zatrudnia Cię za 1500 zł na rękę, większość z tego oddajesz prywaciarzowi za wynajem mieszkania?<br><br>
                        Mieszkania wynajmują dość często przedsiębiorcy, ponieważ ich stać na to aby kupić mieszkanie, dlatego, że zatrudniają w swoich miejscach pracy za kiepskie pieniądze!

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-users"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Niestabilność</a></h4>
                    <p class="description">
                        Bez okresu wypowiedzenia nie masz pewności kiedy szef powie, że <strong>z dnia na dzień musisz zmienić pracę.
                        Co wtedy dasz dziecku do jedzenia w okresie poszukiwania pracy?</strong>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #services -->
