<div id="co-trace-na-kiepskiej-umowie"></div>
<section id="services">
    <div class="container wow fadeIn">

        <div class="section-header">
            <div class="text-center section-header-bigger">
                <img src="img/jakiesazagrozenia.svg" alt="Jakie są zagrożenia?" class="img-fluid"/>
            </div>
            <p class="section-description">
                Niestabilna forma zatrudnienia potrafi mieć przykre konsekwencje, warto sobie zatem zadać kilka pytań.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-stethoscope"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Choroba</a></h4>
                    <p class="description">
                        <strong>Czy gdy zachorujesz na tydzień lub złamiesz nogę, będziesz w stanie opłacić rachunki i koszta życia?</strong><br><br>
                        Przy niskich zarobkach wystarczy kilka dni niepłatnej nieobecności aby zachwiać domowy budżet.<br/><br/>
                        Biorąc szybkie pożyczki łatwo można wpaść w pętlę zadłużenia.<br/><br/>Nawet na umowie cywilnoprawnej opłacaj sobie dobrowolne ubezpieczenie chorobowe aby to ryzyko zminimalizować
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-medkit"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Depresja</a></h4>
                    <p class="description">
                        Z roku na rok <strong>rośnie liczba osób z depresją</strong> na świecie, wiąże się to także z ekonomicznym uciskiem pracowników.<br/><br/>
                        <strong>Potrzebujesz płatnego urlopu, żeby się nie wypalić! Gwarantowany płatny urlop przysługuje tylko na umowie o pracę.</strong>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-money"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Niepłatne nadgodziny</a></h4>
                    <p class="description">
                        Na kiepskiej umowie są kiepskie warunki, <strong>na umowie o dzieło oraz na umowie zlecenie nadgodziny nie muszą być ekstra płatne, to zależy jedynie od warunków indywidualnych z pracodawcą.</strong><br>
                        <br><strong>Pamiętaj!</strong> Pracodawca wcale nie musi być uczciwy, w sytuacji konfliktowej może wycofać się z części wynagrodzenia "pod stołem", premii czy dodatkowych pieniędzy za nadgodziny <a href="http://rodzina-i-kariera.infor.pl/praca/formy-zatrudnienia/318292,Nadgodziny-na-umowie-zlecenia.html" target="_blank" rel="nofollow">[1]</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="https://lokatorzy.info.pl/kontakt/" target="_blank"><i class="fa fa-home"></i></a></div>
                    <h4 class="title"><a href="https://lokatorzy.info.pl/kontakt/" target="_blank">Wysokie opłaty</a></h4>
                    <p class="description">
                        Zła praca, złe warunki mieszkaniowe.<br><br>
                        Właściciele firm to często także właściciele mieszkań, nawet kilku mieszkań na wynajem.<br/>
                        Tworzą sobie inwestycyjny dochód pasywny o wielkości rzędu 500-1500 zł za miesiąc za jedno mieszkanie.<br/><br/>
                        <strong>Niejednokrotnie bywa, że pracownik zarabia 2000 zł, z czego minimum 1500 zł musi zapłacić za mieszkanie.</strong>
                        Częstą praktyką jest podpisywanie niekorzystnych umów "najmu okazjonalnego" z dobrowolnym poddaniem się pod egzekucję, co jest ominięciem ustawowej ochrony praw lokatorskich. <a href="https://lokatorzy.info.pl/lech-kaczynski-podpisal-wyrok-na-lokatorow/" target="_blank">[1]</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-users"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Niestabilność</a></h4>
                    <p class="description">
                        Bez okresu wypowiedzenia nie masz pewności kiedy szef powie, że <strong>z dnia na dzień musisz zmienić pracę.
                        Co wtedy dasz dziecku do jedzenia w okresie poszukiwania pracy?</strong> Czy Twoja praca pozala Ci na tę okoliczność odłożyć środki?<br/><br/>
                        Na umowie o pracę okres wypowiedzenia może wynosić nawet 3 miesiące (zależne od stażu pracy)
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #services -->
