<div id="co-trace-na-kiepskiej-umowie"></div>
<section id="services">
    <div class="container wow fadeIn">
        <div class="section-header">
        <img src="img/jakiesazagrozenia.svg" alt="Jakie są zagrożenia?"/>
            <p class="section-description">
                Niestabilna forma zatrudnienia potrafi mieć przykre konsekwencje, warto sobie zatem zadać kilka pytań.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-stethoscope"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Choroba</a></h4>
                    <p class="description">
                        <strong>Czy gdy zachorujesz na tydzień czasu będziesz w stanie zapłacić za czynsz i za życie?</strong>
                        Zakładając, że zarabiasz 1500 zł czy gdy bez urlopu chorobowego pracodawca odliczy 400 zł będzie Cię stać na wszystko?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-hospital-o"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Gips na nodze</a></h4>
                    <p class="description">
                        Czy będziesz w stanie <strong>przez jeden miesiąc noszenia gipsu nie płacić za mieszkanie</strong> jeśli Twój pracodawca
                        nie gwarantuje Tobie <strong>urlopu chorobowego</strong>?
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-medkit"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Depresja</a></h4>
                    <p class="description">
                        Z roku na rok <strong>rośnie liczba osób z depresją</strong> na świecie, wiąże się to także z ekonomicznym uciskiem pracowników.<br>
                        <strong>Potrzebujesz płatnego urlopu!</strong>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-money"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Niepłatne nadgodziny</a></h4>
                    <p class="description">
                        Na kiepskiej umowie są kiepskie warunki, <strong>na umowie o dzieło oraz na umowie zlecenie nadgodziny nie muszą być ekstra płatne.</strong>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-home"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Wysokie opłaty</a></h4>
                    <p class="description">
                        Zła praca, złe warunki mieszkaniowe. Szef pewnie wynajmuje 2 albo 3 mieszkania i zgarnia po 1000 zł miesięcznie z każdego z nich
                        a Ciebie nie stać nawet na to aby mieć jedno: aby mieszkać i płacić niski czynsz. <strong>Nie dość, że zarabiasz mało to płacisz dużo na tych co mają więcej pieniędzy od Ciebie! To się nazywa wyzysk i klasizm.</strong>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.2s">
                <div class="box">
                    <div class="icon"><a href="#co-trace-na-kiepskiej-umowie"><i class="fa fa-users"></i></a></div>
                    <h4 class="title"><a href="#co-trace-na-kiepskiej-umowie">Niestabilność</a></h4>
                    <p class="description">
                        Bez okresu wypowiedzenia nie masz pewności kiedy szef powie, że <strong>z dnia na dzień musisz zmienić pracę.
                        Co wtedy dasz dziecku do jedzenia w okresie poszukiwania pracy?</strong>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #services -->
