<div id="co-mi-przysluguje-na-umowie-o-prace-na-czas-nieokreslony"></div>
<section id="about" class="stable-contract">
    <div class="container">
        <div class="row about-container">

            <div class="col-lg-8 content order-lg-1 order-2">
                <div class="tile-description">
                <div class="text-left section-header-bigger">
                    <img src="img/comiprzysluguje.svg" alt="Co mi przysługuje?" class="img-fluid" />
                </div>
                    <p>
                        Na rynku pracy istnieją różne formy zatrudnienia, mniej lub bardziej korzystne dla pracownika.<br><br>
                        Umowy cywilnoprawne typu <strong>umowa zlecenie</strong> oraz <strong>umowa o dzieło</strong> nie dają prawnie <strong>wystarczającej ochrony w razie
                        wypadku, choroby czy ciąży</strong>.
                        <br>
                        <br> Jeżeli pracujesz na takiej umowie, <strong>zachęcamy Cię do zapoznania się z tym, jakie prawa przysługują Ci STANDARDOWO na umowie o pracę</strong>.
                    </p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-medkit"></i></div>
                    <h4 class="title"><a href="">Stabilność finansowa, także podczas choroby</a></h4>
                    <p class="description">
                        Płatne chorobowe to <strong>absolutne minimum zabezpieczenia socjalnego</strong>.
                        <strong>Gdy zachorujesz i nie będzie Cię w pracy</strong> - będą wypłącane pieniądze w postaci <strong>80% wypłaty</strong>.
                        Podczas pobytu w szpitalu będzie to 70% wynagrodzenia
                        - <strong>możesz prawdopodobnie uniknąć brania pożyczki, Twoja stabilność finansowa nie zapadnie się z dnia na dzień</strong>
                        <br/><br/>
                        <span class="very-important-message">
                            Pamiętaj! Na umowie zlecenie możesz zarządać od pracodawcy odprowadzania składki chorobowej.
                            <br/>Pracodawca ma obowiązek taką składkę przekazywać do ZUS. Jest to koszt 2,45% wypłaty, przykładowo ok. 64 zł dla wypłaty 2600 zł brutto
                        </span>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-medkit"></i></div>
                    <h4 class="title"><a href="">Macierzyństwo</a></h4>
                    <p class="description">
                        W związku z urodzeniem dziecka przysługuje Ci 20 tygodni urlopu macierzyńskiego - 6 tygodni możesz wykorzystać jeszcze przed porodem, a kolejne – po narodzinach dziecka. Urlop wynosi 100% podstawy wynagrodzenia. Po upływie 14 tygodni mama może wrócić do pracy, pod warunkiem, że pozostałą część urlopu, czyli 6 tygodni wykorzysta tata dziecka (zatrudniony na podstawie umowy o pracę). Do tego przysługuje wam jeszcze urlop rodzicielski i bezpłatny wychowawczy
                    </p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-money"></i></div>
                    <h4 class="title"><a href="">Płatne nadgodziny</a></h4>
                    <p class="description">
                        W normalny dzień roboczy dostaniesz 150% wynagrodzenia, w nocy lub dzień wolny od pracy 200%.
                        <strong>Pamiętaj! Nie musisz się zgadzać na wydłużanie czasu pracy, to pracodawca musi udzielić zgodę na wykonywanie dodatkowych godzin pracy</strong>.<br/><br/>

                        <span class="very-important-message">
                            <strong>W przypadku umowy zlecenie lub o dzieło nie istnieje formalnie pojęcie nadgodzin, więc są one niepłatne</strong>,
                            lub do ustalenia z pracodawcą - prawo w tym miejscu nie chroni pracownika.
                            Możesz więc usłyszeć, że są inne osoby na Twoje miejsce, które będą pracować dłużej.
                        </span>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Płatny odpoczynek od pracy</a></h4>
                    <p class="description">
                        Wyjedź spokojnie na wakacje, przez 20-26 dni (w zależności od stażu) <strong>w trakcie Twojego urlopu
                        wypoczynkowego będą normalnie wypłacane pieniądze</strong>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-child"></i></div>
                    <h4 class="title"><a href="">Okolicznościowe dni wolne</a></h4>
                    <p class="description">
                        W przypadku odejścia bliskiej osoby, narodzin dziecka lub ślubu pracownik otrzymuje dodatkowe, płatne dni wolne z tytułu okolicznościowego
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-money"></i></div>
                    <h4 class="title"><a href="">Bezpieczeństwo materialne</a></h4>
                    <p class="description">
                        Gdy pracodawca zwalnia Cię z powodu np. likwidacji stanowiska, gorszej sytuacji finansowej lub ogłoszenia upadłości, dostaniesz <strong>odszkodowanie pieniężne</strong>.
                        W momencie, <strong>gdyby firma upadła, możesz ubiegać się o wypłacenie zaległych wynagrodzeń z Funduszu Gwarantowanych Świadczeń Pracowniczych</strong>
                        <small><a href="https://poradnikpracownika.pl/-co-to-jest-fgsp-co-to-za-fundusz-i-kto-moze-z-niego-korzystac" target="_blank" rel="nofollow">[1]</a></small>
                        <small><a href="https://porady.pracuj.pl/kiedy-mozesz-liczyc-na-fundusz-gwarantowanych-swiadczen-pracowniczych/" target="_blank" rel="nofollow">[2]</a></small>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-suitcase"></i></div>
                    <h4 class="title"><a href="">Dofinansowanie do wczasów</a></h4>
                    <p class="description">
                        Pracownik może złożyć wniosek o dofinansowanie do wypoczynku letniego - możliwość złożenia takiego wniosku jest uzależniona od wielu czynników m.in. od istnienia funduszu zakładowego, ilości etatów na zakładzie, czy porozumienia związku zawodowego
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-taxi"></i></div>
                    <h4 class="title"><a href="">Wyjazdy do innych zakładów pracy lub do klienta (delegacje)</a></h4>
                    <p class="description">
                        <strong>Pracodawca ma obowiązek pokryć wszelkie koszty związane z wyjazdem firmowym</strong> - w postaci noclegu, przejazdu oraz żywności.
                        Pracownikowi wypłacane są pieniądze zgodnie z przelicznikiem dla danego kraju <strong>np. na wyjeździe do Niemiec możemy dostać w przybliżeniu 50 euro dziennie tzw. diety oprócz standardowej wypłaty</strong>
                        <small><a href="https://www.infor.pl/prawo/praca/praca-za-granica/273939,Jaka-jest-wysokosc-diet-w-podrozy-sluzbowej-do-krajow-UE.html" target="_blank" rel="nofollow">[1]</a></small>
                        <small><a href="https://poradnikprzedsiebiorcy.pl/-diety-zagraniczne" target="_blank" rel="nofollow">[2]</a></small>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <h4 class="title"><a href="">Stabilność</a></h4>
                    <p class="description">
                        W zależności od tego jak długo pracujesz, <strong>obowiązuje Cię okres wypowiedzenia, nie można Cię zwolnić z dnia na dzień.</strong>
                        Dlatego też np. banki udzielają kredytów mieszkaniowych przede wszystkim osobom zatrudnionym na umowawch o pracę na czas nieokreślony.
                        Oprócz tego, gdy na zakładzie pracy jest przynajmniej jeden związek zawodowy, pracodawca ma obowiązek zapytać związki przed zwolnieniem pracownika.<br/><br/>
                        <strong>Kobieta w ciąży jest objęta ochroną i nie może zostać zwolniona z pracy aż do zakończenia urlopu macierzyńskiego</strong>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-hand-rock-o"></i></div>
                    <h4 class="title"><a href="">Bezpieczeństwo</a></h4>
                    <p class="description">
                        W porównaniu do umów cywilnoprawnych oraz do kontraktu, umowa o pracę definiuje stronę jako pracownika, nie zleceniobiorcę czy kontrahenta.
                        <strong>Pracownicy mogą organizować się w związki zawodowe oraz negocjować zbiorowe warunki korzystniejsze dla pracownika niż to wynika z kodeksu pracy.</strong><br/><br/>
                        Będąc zrzeszonym w związku zawodowym można skorzystać z ochrony przed zwolnieniem, każde zwolnienie pracownika jest konsultowane najpierw ze związkami zawodowymi funkcjonującymi na zakładzie.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
