<div id="co-mi-przysluguje-na-umowie-o-prace-na-czas-nieokreslony"></div>
<section id="about" class="stable-contract">
    <div class="container">
        <div class="row about-container">

            <div class="col-lg-8 content order-lg-1 order-2">
                <div class="tile-description">
                <img src="img/comiprzysluguje.svg" alt="Co mi przysługuje?" />
                    <p>
                        Na rynku pracy istnieją mniej oraz bardziej stabilne formy zatrudnienia.
                        Najlepszą z nich jest <b>umowa o pracę na czas <i>nieokreślony</i></b> - na niej zyskujesz takie prawa:
                    </p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-medkit"></i></div>
                    <h4 class="title"><a href="">Płatny urlop chorobowy</a></h4>
                    <p class="description">
                        To <strong>absolutne minimum zabezpieczenia socjalnego</strong>.
                        <strong>Gdy zachorujesz i nie będzie Cię w pracy</strong> - będą wypłącane pieniądze w postaci <strong>80% wypłaty</strong>.
                        Podczas pobytu w szpitalu będzie to 70% wynagrodzenia
                        - <strong>będzie Cię wciąż stać na rachunki!</strong><br>
                        <strong>Kobieta w ciąży na umowie o pracę ma gwarantowany roczny urlop na wychowanie dziecka w postaci 80% wypłaty.</strong>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-money"></i></div>
                    <h4 class="title"><a href="">Płatne nadgodziny</a></h4>
                    <p class="description">
                        W normalny dzień roboczy dostaniesz 150% wynagrodzenia, w nocy lub dzień wolny od pracy 200%
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Płatny odpoczynek od pracy</a></h4>
                    <p class="description">
                        Wyjedź spokojnie na wakacje, przez 20-26 dni (w zależności od stażu) <strong>w trakcie Twojego urlopu
                        wypoczynkowego będą normalnie wypłacane pieniądze</strong>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-child"></i></div>
                    <h4 class="title"><a href="">Urlop macierzyński, rodzicielski, oraz urlopy okolicznościowe</a></h4>
                    <p class="description">
                        <strong>Ojciec po urodzeniu dziecka otrzyma 2 tygodnie płatnego urlopu</strong> na wdrożenie się w rolę ojca oraz na pomoc matce w pierwszych, trudnych chwilach.
                        <strong>Para biorąca ślub otrzymuje po 2 dni urlopu okolicznościowego.</strong> Gdy odejdzie ktoś bliski otrzymujemy także 2 dni płatnego urlopu
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-money"></i></div>
                    <h4 class="title"><a href="">Bezpieczeństwo materialne</a></h4>
                    <p class="description">
                        Gdy pracodawca zwalnia Cię z powodu np. likwidacji stanowiska, gorszej sytuacji finansowej lub ogłoszenia upadłości dostaniesz <strong>odszkodowanie pieniężne</strong> w postaci nawet do 3 wypłat.
                        W momencie, <strong>gdyby firma upadła możesz ubiegać się o wypłacenie zaległych wynagrodzeń z funduszu gwarantowanych świadczeń pracowniczych</strong> (pod warunkiem złożenia formalnej upadłości).
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-suitcase"></i></div>
                    <h4 class="title"><a href="">Dofinansowanie do wczasów</a></h4>
                    <p class="description">
                        Przynieś rachunek za wyjazd na wakacje a pracodawca zwróci Ci nawet połowę kosztów,
                        warunkiem jest pozostanie na urlopie wypoczynkowym przynajmniej 10 dni oraz złożenie podania pisemnego o wczasy pod gruszą
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-taxi"></i></div>
                    <h4 class="title"><a href="">Wyjazdy do innych zakładów pracy lub do klienta (delegacje)</a></h4>
                    <p class="description">
                        <strong>Pracodawca ma obowiązek pokryć wszelkie koszty związane z wyjazdem firmowym</strong> - w postaci noclegu, przejazdu oraz żywności.
                        Pracownikowi wypłacane są pieniądze zgodnie z przelicznikiem dla danego kraju <strong>np. na wyjeździe do Niemiec dostaniemy w przybliżeniu 50 euro dziennie oprócz standardowej wypłaty. To, co zostanie nie jest do zwrotu!</strong>
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.05s">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <h4 class="title"><a href="">Stabilność</a></h4>
                    <p class="description">
                        W zależności od tego jak długo pracujesz <strong>obowiązuje Cię okres wypowiedzenia, nie można Cię zwolnić z dnia na dzień.</strong>
                        Dlatego też np. banki udzielają kredytów mieszkaniowych tylko i wyłącznie osobom na umowawch o pracę na czas nieokreślony.
                        Oprócz tego gdy na zakładzie pracy jest przynajmniej jeden związek zawodowy pracodawca ma obowiązek zapytać związki przed zwolnieniem pracownika.
                        <strong>Kobieta w ciąży nie może zostać tak po prostu zwolniona z pracy, musi mieć także przedłużoną automatycznie umowę.</strong>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
