<div id="fakty-o-pracy-i-utrzymaniu-w-polsce-w-liczbach"></div>
<section id="facts" class="statistics-block">
    <div class="container wow fadeIn">
        <div class="section-header">
        <img src="img/faktyopracy.svg" alt="Fakty o pracy"/>
        </div>
        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">1530</div> zł</span>
                <p>Wynosi minimalna krajowa i <b>najczęstsza wypłata w polsce</b></p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">1300</div> zł</span>
                <p>Koszt wynajmu 1 pokojwego mieszkania we Wrocławiu</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">99</div>%</span>
                <p>
                    Praktycznie wszystkie związki zawodowe <strong>głównego nurtu</strong> nie robią nic, a nawet występują przeciwko pracownikom
                </p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">11</div>%</span>
                <p>Procent polaków w związkach zawodowych w polsce</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">35</div> zł</span>
                <p>
                    Koszt t-shirtu z nadrukiem w sklepie, którego przeciętny koszt produkcji wynosi <strong>12 zł</strong>
                    Zobacz o ile Twój szef podbija cenę, a ile Tobie z tego daje - on sprowadza, Ty stoisz i sprzedajesz
                </p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">15000</div> zł</span>
                <p>
                    Dziennie w rękach kasjera pracującego za 1500 zł, sprzedającego towary
                    z <strong>ceną podwyższoną nawet 2-3 krotnie</strong>
                </p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span>-<div data-toggle="counter-up">70</div>%!</span>
                <p>
                    Czy zastanawiałeś/aś się kiedyś jak pracodawca może sprzedawać niemalże za darmo?
                    To niemożliwe - dlatego, że <strong>sklep najpierw zawyża cenę aby później ją obniżyć</strong> z głośnym "SALE" na witrynie
                </p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span><div data-toggle="counter-up">1</div> na 5</span>
                <p>
                    Co piąty Polak pracuje bez umowy dającej m.in. zabezpieczenie od zachorowania, możliwość pójścia do lekarza,
                    gwarancji, że szef nie zwolni z dnia na dzień, czy możliwości kupienia mieszkania na kredyt
                </p>
            </div>
        </div>
    </div>
</section>
