<section id="hero">
    <div id="welcomeTileCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-item active" style="background-image: url(https://cdn.pixabay.com/photo/2016/09/25/16/41/way-1694105_960_720.jpg);"></div>
        <div class="carousel-item" style="background-image: url(./img/hero-bg.jpg);"></div>
        <div class="carousel-item" style="background-image: url(https://cdn.pixabay.com/photo/2016/11/18/23/04/cleaning-1837328_960_720.jpg);"></div>
        <div class="carousel-item" style="background-image: url(https://cdn.pixabay.com/photo/2015/06/12/22/23/workers-807577_960_720.jpg);"></div>
    </div>

    <div class="welcome-tile-text">
        <div class="hero-container carousel-inner w-100 container-fluid" role="listbox">
            <h1>Płatne <br/> chorobowe,<br/> nie umowy<br/> śmieciowe!</h1>
            <h2>Stworzyliśmy kampanię informacyjną, dzięki której dowiesz się, co Tobie przysługuje oraz jak się o to upominać</h2>

            <a href="#about" class="btn-get-started" style="margin: 20px; !important">Zobacz co Tobie przysługuje</a>
        </div>
    </div>
</section>
