<section id="hero">
    <div id="welcomeTileCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-item active" style="background-image: url(./img/slide1.jpg);"></div>
        <div class="carousel-item" style="background-image: url(./img/hero-bg.jpg);"></div>
        <div class="carousel-item " style="background-image: url(./img/slide2.jpg);"></div>
        <div class="carousel-item " style="background-image: url(./img/slide3.jpg);"></div>
        <div class="carousel-item " style="background-image: url(./img/slide4.jpg);"></div>
    </div>

    <div class="welcome-tile-text">
        <div class="hero-container carousel-inner w-100 container-fluid" role="listbox">
            <h1>Płatne <br/> chorobowe,<br/> nie umowy<br/> śmieciowe!</h1>
            <h2>Jesteśmy organizacją non-profit, stworzyliśmy kampanię informacyjną, dzięki której dowiesz się, co Tobie przysługuje</h2>

            <a href="#about" class="btn-get-started" style="margin: 20px; !important">Chcę zobaczyć, co mi przysługuje!</a>
        </div>
    </div>
</section>
